/*
 * Copyright (c) 2015, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitaetsstrasse 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface vas "VAS interface" {
	
	/**
     */
	rpc share(in uint8 name[size],
	          in cap pagecn,
	          out errval msgerr,
	          out uint64 id);
	          
	/**
     *
     */
	rpc lookup(in uint8 name[size], 
	           out errval msgerr,
	           out cap pagecn,
	           out uint64 id,
	           out uint16 slot);
	
	rpc slot_alloc(in uint64 id,
	               out errval msgerr,
	               out uint16 slot);
};