/*
 * Copyright (c) 2015, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitaetsstrasse 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface vas "VAS interface" {
	
    rpc create(in uint64 name0,
               in uint64 name1,
               in uint64 name2,
               in uint64 name4,
               out errval msgerr,
               out uint64 id,
               out uint16 tag);
               
    rpc delete(in uint64 id,
               out errval msgerr);               
    
    rpc attach(in uint64 id,
               in cap vroot,
               out errval msgerr);
    
    rpc detach(in uint64 id,
               out errval msgerr);
    
    rpc map(in uint64 id,
            in cap frame,
            in uint64 size,
            in uint32 flags,
            out errval msgerr,
            out uint64 vaddr);
    
    rpc map_fixed(in uint64 id,
                  in cap frame,
                  in uint64 size,
                  in uint64 vaddr,
                  in uint32 fags,
                  out errval msgerr);
    
    rpc unmap(in uint64 id,
              in uint64 segid,
              out errval msgerr);
    
    rpc lookup(in uint64 name0,
               in uint64 name1,
               in uint64 name2,
               in uint64 name4,
               out errval msgerr,
               out uint64 id, 
               out uint16 tag);
               
    rpc seg_create(in uint64 name0,
                   in uint64 name1,
                   in uint64 name2,
                   in uint64 name4,
                   in uint64 vaddr,
                   in uint64 size,
                   in cap frame,
                   out errval msgerr,
                   out uint64 id);
    rpc seg_delete(in uint64 sid, 
                   out errval msgerr);
    rpc seg_lookup(in uint64 name0,
                   in uint64 name1,
                   in uint64 name2,
                   in uint64 name4,
                   out errval msgerr,
                   out uint64 id,
                   out uint64 vaddr,
                   out uint64 length);
    rpc seg_attach(in uint64 vid, in uint64 sid, in uint32 flags, out errval msgerr);
    rpc seg_detach(in uint64 vid, in uint64 sid, out errval msgerr);
};