/*
 * Copyright (c) 2015, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitaetsstrasse 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface vas "VAS interface" {
	
    rpc create(in uint8 name[size],
               out errval msgerr,
               out uint64 id);
    
    rpc attach(in uint64 id,
               in cap vroot,
               out errval msgerr);
    
    rpc detach(in uint64 id,
               out errval msgerr);
    
    rpc map(in uint64 id,
            in cap frame,
            in uint64 offset,
            in uint64 size,
            out errval msgerr,
            out uint64 vaddr);
    
    rpc unmap(in uint64 id,
              in uint64 segid,
              out errval msgerr);
    
    rpc lookup(in uint8 name[size],
               out errval msgerr,
               out uint64 id);
};